# Maven related entries
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.checkstyle
test-output/

# Eclipse related entries
.settings/
.classpath
.project

# IntelliJ
.iml
webapp/server/production/

# Java related entries
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Intellij
*.iml
.idea

# Database
*.db

# Logging output files
*.log

package-lock.json

# output from opf
optimization_output/

# local copies from jbh
FILEIO/

# key for usage of program
*.jks

*/.factorypath
*/.springBeans
workspace
